<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.john.viewpagerproject">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".activitys.MainActivity" />
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".view.ColorFulScreen" />
        <activity android:name=".activitys.DrawerLayoutaActivity" />
        <activity android:name=".activitys.BigSmallActivity" />
        <activity android:name=".activitys.ShiJueChaActivity" />
        <activity android:name=".activitys.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.AndroidDesignSupportLibraryActivity" />
        <activity android:name=".activitys.NavigationActivity" />
        <activity android:name=".activitys.SlideDeleteActivity" />
        <activity android:name=".activitys.TuoZhuaiActivity" />
        <activity android:name=".activitys.XiaoHongShuActivity" />
        <activity android:name=".activitys.AbcListActivity" />
        <activity android:name=".activitys.VLayoutActivity" />
        <activity android:name=".activitys.MenuAnimationActivity" />
        <activity android:name=".activitys.MenuAnimationTwoActivity"></activity>
        <activity android:name=".activitys.ViewStubActivity"></activity>
    </application>

</manifest>